<header>
  <div class="mobile-header">
    <div>
      <a href="/" class="mobile-logo"><img src="/assets/img/logo_1.jpeg"></a>
    </div>
    <div class="toggle">
      <span>
        <i></i>
        <i></i>
        <i></i>
      </span>
    </div>
  </div>
  <nav class="desktop-nav">
    <a href="/gallery">
      <div>
        <p>
          Gallery
        </p>
      </div>
    </a>

    <a href="/videos">
      <div>
        <p>
          Videos
        </p>
      </div>
    </a>

    <a href="/therapy">
      <div>
        <p>
          Art Therapy
        </p>
      </div>
    </a>

    <a href="/" class="logo"><img src="/assets/img/logo_2.jpeg"></a>

    <a href="/about">
      <div>
        <p>
          About Me
        </p>
      </div>
    </a>

    <a href="/contact">
      <div>
        <p>
          Contact
        </p>
      </div>
    </a>

    <a href="https://www.instagram.com/earthed.mari/" target="_blank">
      <div>
        <p>
          Instagram
        </p>
      </div>
    </a>

  </nav>
</header>