<header>
  <div class="mobile-header">
    <div>
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="toggle">
      <span>
        <i></i>
        <i></i>
        <i></i>
      </span>
    </div>
  </div>
  <nav class="desktop-nav">
    <!-- <a href="/"><img src="/assets/img/logo_1.svg"></a> -->
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if forloop.last == true %} target="_blank" {% endif %}>
      <div>
        <p>
          {{ item.name }}
        </p>
      </div>
    </a>
    {% endfor %}
  </nav>
</header>