.creation{
    &-image-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px;

        img{
            max-width: 100%;
        }
    }

    &-description{
        max-width: 800px;
        margin: 0 auto;
    }
}

.video{
    &-wrapper{
        max-width: 800px;
        margin: 0 auto 3em;

        h2{
            margin-bottom: 1em;
        }

        iframe{
            max-width: 100%;
            display: block;
            margin: 0 auto 3em;
        }
    }
}