blockquote {
  margin-inline-start: 0;
}

h2 {
  font-family: $font-stack-subheader;
  padding: 0;
  margin: 0;
}

h4 {
  margin-bottom: 5px;
}

.recent-posts-blog {
  p {
    margin-top: 0;
  }
}

.recent-posts-blog {
  margin-bottom: 30px;
}

.post-snippet {
  padding: 20px 0;
}

.read-more {
  font-size: 18px;
}

.index-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;

  >* {
    width: 45%;
  }

  .image {
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/homepage.JPG');
  }

  .index-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2.pink {
    display: inline-block;
    background-image: linear-gradient($color_pink, $color_pink);
    background-size: 100% 0.4em;
    background-repeat: no-repeat;
    background-position: 0 1.1em;
    white-space: nowrap;
    width: min-content;
    transition: all 0.2s;

    &:hover{
      color: $color_pink;
      background-image: none;
    }
  }

  @media only screen and (max-width: 1000px){
    flex-direction: column;
    margin-top: 0;

    >* {
      width: 100%;
    }

    .index-copy {
      margin-top: 2em;
    }
  }
}